body{
  background: #1b2838; 
}

.card-productos{
  width: 25rem;
  background-image: url(https://store.akamai.steamstatic.com/public/images/v6/home/background_spotlight.jpg);
  background-position: bottom;
}

/*css aplicado al formulario crear meme*/
.form-admin{
  width: 900px;
  height: 400px;
  background-color: #1d1e1d;
}

/*css card productos*/

.boton-detalle{
  background-color: darkblue;
}

:hover.boton-detalle{
  background-color: rgb(5, 5, 228);
}

.form-register{
  color: #E9E9E9;
    background-color: #212429;
    background-position: -60vw 0;
    background-repeat: no-repeat;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}